@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat&display=swap");

/* Variables */
$font-family-base: Montserrat;
$font-family-accent: Courier Prime;
$font-size-base: 1.1rem;
$primary: #0775a8;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Utility Classes */
.ff-primary {
  font-family: $font-family-base;
}

.ff-accent {
  font-family: $font-family-accent;
}

.cover-vh {
  min-height: 100vh;
}

/* General Styling */
p {
  font-size: 1.1rem;
}

h2 {
  font-family: $font-family-accent;
}

.btn {
  border-radius: 0;
}

.back-btn-position {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

img[alt="github icon"] {
  width: 3rem;
  height: auto;
  
  &:hover {
    scale: 1.05;
  }
}

/* Project Page */

section.projects {
  section>a>img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover {
      scale: 1.05;
    }
  }
}

/* Big O Analysis API */

#code-feedback {
  white-space: pre-wrap;
}

/* Desktop Styles */

@include media-breakpoint-up(lg) {
  .back-btn-position {
    top: 5vh;
    left: 5vw;
  }
}
